$navbar-bg-color: #ffffff;
$navbar-text-color: #333333;
$color1: #ff78f4; // Rosa
$color2: #b28ee8; // Lila
$highlight-hover: lighten($color1, 10%); // Hover más claro

.navbar-container1 {
    transition: all 0.5s ease;
    background-color: #ffffff;
    padding: 5px 30px;
    box-shadow: 1px 1px 10px #11111144;

    @media (max-width:500px) {
        padding: 5px 10px;
    }

}

.navbar-container2 {
    transition: all 1s ease;
    background-color: #ffffff;
    padding: 5px 30px;

    @media (max-width:500px) {
        padding: 5px 10px;
    }

}

.navbar-container1,
.navbar-container2 {
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;

    .navbar-bg,
    .navbar-nobg {
        justify-content: space-between;
        display: flex;
        margin: auto;
        align-items: center;


        @media (max-width: 600px) {
            width: 100%;
        }

        .left {
            z-index: 1;

            .logo {
                transition: all 1s ease;
                // height: 140px;
                margin: 0;

                @media (max-width: 600px) {
                    transition: all 1s ease;
                    width: 140px;
                    margin: 0;
                }

                .logo-banderas {

                    .logo_time {
                        transition: all 1s ease;
                        width: 170px;
                        height: 120px;
                        margin: 0;
                        object-fit: contain;

                        @media (max-width: 600px) {
                            transition: all 1s ease;
                            width: 100px;
                            height: 100px;
                            margin: 0;
                        }
                    }

                }

                p {
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                    font-size: 12px;
                    font-weight: 400;
                    color: rgb(88, 90, 97);

                    @media (max-width: 600px) {
                        bottom: -5px;
                        width: 50%;
                    }
                }
            }
        }

        .right {
            z-index: 70;

            .links {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 50px;

                @media (max-width: 1150px) {
                    display: none;
                }

                .dropdown {
                    position: relative;
                    display: inline-block;
                    cursor: pointer;

                    .dropdown-menu {
                        display: none; // Oculto por defecto
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background-color: #ffffff; // Fondo blanco
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Sombra
                        // border-radius: 4px;
                        z-index: 100;
                        padding: 10px 0;
                        border-radius: 20px;

                        a {
                            display: block;
                            padding: 10px 20px;
                            color: #333333;
                            text-decoration: none;
                            font-size: 16px;
                            transition: background-color 0.3s ease;
                            border-radius: 20px;

                            &:hover {
                                color: #fff;
                                background-color: #00e49484
                            }
                        }
                    }

                    &:hover .dropdown-menu {
                        display: block; // Mostrar menú al pasar el cursor
                    }
                }

                a {
                    text-decoration: none;
                    font-size: 18px;
                    font-weight: 400;
                    display: inline-block;
                    color: rgb(0, 0, 0);
                    position: relative;

                    &:hover {
                        color: rgb(17, 24, 39);
                    }
                }

                .terapy {
                    background: #00E496;
                    color: white;
                    font-weight: bold;
                    padding: 10px 20px;
                    border-radius: 20px;
                    box-shadow: 0px 4px 10px rgba(178, 142, 232, 0.3);
                    transition: all 0.3s ease;
                    text-align: center;

                    &:hover {
                        color: #fff;
                        // background: linear-gradient(135deg, lighten($color1, 10%), lighten($color2, 10%));
                        box-shadow: 0px 6px 12px rgba(178, 142, 232, 0.5);
                    }
                }
            }

            i {
                font-size: 40px;
                display: none;
                z-index: 2;

                @media (max-width: 1150px) {
                    display: block;
                    z-index: 2;
                }
            }
        }

        .bg-div {
            display: none;
            background-color: #ededed;
            position: fixed;
            opacity: 0;
            box-shadow: 0px 0px 100px rgba(81, 81, 81, 0.358);
            width: 50%;
            height: 100vh;
            top: 0;
            right: 0;
            z-index: -1;
            transform: translateX(100%);
            transition: all 0.6s ease;

            @media (max-width: 600px) {
                width: 60%;
            }

            &.active {
                z-index: 1;
                display: flex;
                transform: translateX(0);
                opacity: 1;
                transition: all 0.6s ease;

                @media (min-width: 1150px) {
                    opacity: 0;
                    display: none;
                }
            }


        }

        .links-active {
            z-index: 90;
            display: none;
            flex-direction: column;
            width: 100%;
            height: 100vh;
            justify-content: center;
            align-items: center;
            padding: 0 100px;
            gap: 20px;
            text-align: center;

            @media (max-width: 600px) {
                padding: 0 50px;
            }

            .dropdown {
                position: relative;
                display: inline-block;
                cursor: pointer;

                .dropdown-menu {
                    display: none; // Oculto por defecto
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background-color: #ffffff; // Fondo blanco
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Sombra
                    // border-radius: 4px;
                    z-index: 100;
                    padding: 10px 0;
                    border-radius: 20px;

                    a {
                        display: block;
                        padding: 10px 20px;
                        color: #333333;
                        text-decoration: none;
                        font-size: 16px;
                        transition: background-color 0.3s ease;
                        border-radius: 20px;

                        &:hover {
                            color: #fff;
                            background-color: #00e49484
                        }
                    }
                }

                &:hover .dropdown-menu {
                    display: block; // Mostrar menú al pasar el cursor
                }
            }

            a {
                color: #000000;
                text-decoration: none;
                font-size: 20px;
                text-align: center;
                font-weight: 400;

                @media (max-width: 600px) {
                    font-size: 17px;
                }

            }

            .terapy {
                background: #00E496;
                color: white;
                font-weight: bold;
                padding: 10px 20px;
                border-radius: 20px;
                box-shadow: 0px 4px 10px rgba(178, 142, 232, 0.3);
                transition: all 0.3s ease;

                &:hover {
                    // background: linear-gradient(135deg, lighten($color1, 10%), lighten($color2, 10%));
                    box-shadow: 0px 6px 12px rgba(178, 142, 232, 0.5);
                }
            }

        }

    }
}